# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Cache
.cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Build / dist
*.egg-info/
dist/
build/
